*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
$green: #00CE67;
$black: #333;


.row-limite-size {
    width: 100%;
    max-width: 1300px;
}

footer {
    background-color: $green;
    img {
        width: 25px;
    }
    #conteiner_footer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 150px;
        color: #fff;
        font-weight: bold;
        div:first-child{
            font-size: 1.2rem;
            span{
                display:inline-block ;
                line-height: 150px;
            }
            
        }
    }
}
