<footer>
    <div class="row-limit-size">
        <div id="conteiner_footer">
            <div>
                <img src="{{style}}img/icons8-copyright-24.png" alt="copyright">
                <span>Bobas 2023</span>
            </div>
            <div>
                <a href="www.facebook.fr"><img src="{{style}}img/icons8-facebook-24.png" alt="facebook"></a>
                <a href="www.instagram.fr"><img src="{{style}}img/icons8-instagram-30 .png" alt="instagram"></a>
                <a href="www.twitter.fr"><img src="{{style}}img/icons8-twitter-24.png" alt="twitter"></a>
            </div>
        </div>
    </div>
</footer>

