<header>
	<article>
		<a href="./"><img src="./asset/img/logo_cuisine_v4.svg" alt="logo"></a>
		<a href="./">
			<h1>Healthy<span>Gourmet</span>
			</h1>
		</a>
	</article>
	<div id="desktopMenu">
		<nav id="mainMenuDesktop">
			<ul id="mainTab">
				<li id="breakfast" class="subMenu">Petit déjeuner
					<ul id="secondTabBreakfast" class="secondTab">
						<li>
							<a href="#">Sucré</a>
						</li>
						<li>
							<a href="#">Salé</a>
						</li>
						<li>
							<a href="#">Végétarien</a>
						</li>
						<li>
							<a href="#">Végan</a>
						</li>
						<li>
							<a href="#">Sans gluten</a>
						</li>
					</ul>
				</li>
				<li id="starter" class="subMenu">Entrée
					<ul id="secondTabStarter" class="secondTab">
						<li>
							<a href="#">Carnivore</a>
						</li>
						<li>
							<a href="#">Poisson</a>
						</li>
						<li>
							<a href="#">Végétarien</a>
						</li>
						<li>
							<a href="#">Végan</a>
						</li>
						<li>
							<a href="#">Sans gluten</a>
						</li>
					</ul>
				</li>
				<li id="dish" class="subMenu">Plats
					<ul id="secondTabDish" class="secondTab">
						<li>
							<a href="#">Carnivore</a>
						</li>
						<li>
							<a href="#">Poisson</a>
						</li>
						<li>
							<a href="#">Végétarien</a>
						</li>
						<li>
							<a href="#">Végan</a>
						</li>
						<li>
							<a href="#">Sans gluten</a>
						</li>
					</ul>
				</li>
				<li id="desert" class="subMenu">Dessert
					<ul id="secondTabDesert" class="secondTab">
						<li>
							<a href="#">Végétarien</a>
						</li>
						<li>
							<a href="#">Végan</a>
						</li>
						<li>
							<a href="#">Sans gluten</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">Vos recettes</a>
				</li>
			</ul>
		</nav>
		<div id="icon">
			<a href="#" id="searchButton">
				<img src="./asset/img/iconLoupe.png" alt="loupe">
			</a>

			<div id="searchBar">
				<form action="./search" method="GET">
					<input type="text" name="s" placeholder="Recherche...">
					<button type="submit">Rechercher</button>
				</form>
			</div>
			{% if session.connected is defined and session.connected == true %}
				<a href="./disconnect" id="iconConnectOn" ><img src="./asset/img/iconConnectOn.png" alt="conection" ></a>
			{% else %}
				<a href="#" id="iconConnect"><img src="./asset/img/iconConnectOff.png" alt="conection"></a>
			{% endif %}

			<div id="containerConnect">
				{% if get.err is defined %}
					<p style="color:red;">Identifiant et/ou mot de passe incorrecte</p>
				{% endif %}
				<form action="./homeConnect" method="POST">
					<h2>Se connecter</h2>
					<label for="mail">Email</label>
					<input type="mail" name="mail" id="mail" placeholder="bobo@gmail.com" required>
					<label for="password">Mot de passe</label>
					<input type="password" name="password" id="password" required>
					<input type="submit" value="Connexion">
					<p>Mot de passe oublié?
						<a href="#">Clique ici!</a>
					</p>
					<p>Tu n'as pas de compte?
						<a href="#" id="subscription">Inscription</a>
					</p>
					<a href="#" id="closeConect">X</a>
				</form>
			</div>
			<div id="containerRegister">
				
				<form action="./homeConnect" method="post">
				{% if get.erro is defined %}
					<p style="color:red;">Identifiant et/ou mot de passe incorrecte</p>
				{% endif %}
					<h2>Inscription</h2>
					<label for="username">Pseudo</label>
					<input type="text" name="username" id="username" require>
					<label for="mail">Email</label>
					<input type="mail" name="mail" id="mail" placeholder="bobo@gmail.com" require>
					<label for="password">Mot de passe</label>
					<input type="password" name="password" id="password" require>
					<input type="submit" value="Valider">
					<p>Tu as déjà un compte?
						<a href="#" id="connection">Connexion</a>
					</p>
					<a href="#" id="closeRegister">X</a>
				</form>
			</div>
		</div>
	</div>


	<!-- menu téléphone -->
	<div id="phoneMenu">
		<a href="#" id="burger"><img src="./asset//img//icons8-hamburger-64.png" alt="menu burger"></a>
		<nav id="mainMenuPhone">
			<ul id="mainTab">
				<li id="breakfast" class="subMenu">Petit déjeuner
					<ul id="secondTabBreakfast" class="secondTab">
						<li>
							<a href="#">Sucré</a>
						</li>
						<li>
							<a href="#">Salé</a>
						</li>
						<li>
							<a href="#">Végétarien</a>
						</li>
						<li>
							<a href="#">Végan</a>
						</li>
						<li>
							<a href="#">Sans gluten</a>
						</li>
					</ul>
				</li>
				<li id="starter" class="subMenu">Entrée
					<ul id="secondTabStarter" class="secondTab">
						<li>
							<a href="#">Carnivore</a>
						</li>
						<li>
							<a href="#">Poisson</a>
						</li>
						<li>
							<a href="#">Végétarien</a>
						</li>
						<li>
							<a href="#">Végan</a>
						</li>
						<li>
							<a href="#">Sans gluten</a>
						</li>
					</ul>
				</li>
				<li id="dish" class="subMenu">Plats
					<ul id="secondTabDish" class="secondTab">
						<li>
							<a href="#">Carnivore</a>
						</li>
						<li>
							<a href="#">Poisson</a>
						</li>
						<li>
							<a href="#">Végétarien</a>
						</li>
						<li>
							<a href="#">Végan</a>
						</li>
						<li>
							<a href="#">Sans gluten</a>
						</li>
					</ul>
				</li>
				<li id="desert" class="subMenu">Dessert
					<ul id="secondTabDesert" class="secondTab">
						<li>
							<a href="#">Végétarien</a>
						</li>
						<li>
							<a href="#">Végan</a>
						</li>
						<li>
							<a href="#">Sans gluten</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">Vos recettes</a>
				</li>
			</ul>
		</nav>
		<a href="#" id="searchButtonPhone">
			<img src="./asset/img/iconLoupe.png" alt="loupe">
		</a>

		<div id="searchBarPhone">
			<form action="./search" method="GET">
				<input type="text" placeholder="Recherche...">
				<button type="submit">Rechercher</button>
			</form>
		</div>

		{% if session.connected is defined and session.connected == true %}
			<a href="./disconnect" id="iconConnectPhoneOn"><img src="./asset/img/iconConnectOn.png" alt="conection"></a>
		{% else %}
			<a href="#" id="iconConnectPhone"><img src="./asset/img/iconConnectOff.png" alt="conection"></a>
		{% endif %}
		
		<div id="containerConnectPhone">
			<form action="./homeConnect" method="POST">
				<h2>Se connecter</h2>
				{% if get.err is defined %}
					<p style="color:red;">Identifiant et/ou mot de passe incorrecte</p>
				{% endif %}
				<label for="mail">Email</label>
				<input type="mail" name="mail" id="mail" placeholder="bobo@gmail.com" required>
				<label for="password">Mot de passe</label>
				<input type="password" name="password" id="password" required>
				<input type="submit" value="Connexion">
				<p>Mot de passe oublié?
					<a href="#">Clique ici!</a>
				</p>
				<p>Tu n'as pas de compte?
					<a href="#" id="subscriptionPhone">Inscription</a>
				</p>
				<a href="#" id="closeConectPhone">X</a>
			</form>
		</div>
		<div id="containerRegisterPhone">
			<form action="./disconnect" method="POST">
			{% if get.erro is defined %}
					<p style="color:red;">Identifiant et/ou mot de passe déja utiliser</p>
				{% endif %}
				<h2>Inscription</h2>
				<label for="username">Pseudo</label>
				<input type="text" name="username" id="username" required>
				<label for="mail">Email</label>
				<input type="mail" name="mail" id="mail" placeholder="bobo@gmail.com" required>
				<label for="password">Mot de passe</label>
				<input type="password" name="password" id="password" required>
				<input type="submit" value="Valider">
				<p>Tu as déjà un compte?
					<a href="#" id="connectionPhone">Connection</a>
				</p>
				<a href="#" id="closeRegisterPhone">X</a>
			</form>
		</div>

	</div>
	<article>
		<h2>Des recettes gourmandes tout
			<br>
			en gardant la ligne</h2>

	</article>
</header>
