<header>
	<article>
		<a href="#"><img src="./asset/img/logo_cuisine_v4.svg" alt="logo"></a>
		<a href="#">
			<h1>Healthy<span>Gourmet</span>
			</h1>
		</a>
	</article>
	<div id="desktopMenu">
		<nav id="mainMenuDesktop">
			<ul id="mainTab">
				<li id="breakfast" class="subMenu">Petit déjeuner
					<ul id="secondTabBreakfast" class="secondTab">
						<li>
							<a href="#">Sucré</a>
						</li>
						<li>
							<a href="#">Salé</a>
						</li>
						<li>
							<a href="#">Végétarien</a>
						</li>
						<li>
							<a href="#">Végan</a>
						</li>
						<li>
							<a href="#">Sans gluten</a>
						</li>
					</ul>
				</li>
				<li id="starter" class="subMenu">Entrée
					<ul id="secondTabStarter" class="secondTab">
						<li>
							<a href="#">Carnivore</a>
						</li>
						<li>
							<a href="#">Poisson</a>
						</li>
						<li>
							<a href="#">Végétarien</a>
						</li>
						<li>
							<a href="#">Végan</a>
						</li>
						<li>
							<a href="#">Sans gluten</a>
						</li>
					</ul>
				</li>
				<li id="dish" class="subMenu">Plats
					<ul id="secondTabDish" class="secondTab">
						<li>
							<a href="#">Carnivore</a>
						</li>
						<li>
							<a href="#">Poisson</a>
						</li>
						<li>
							<a href="#">Végétarien</a>
						</li>
						<li>
							<a href="#">Végan</a>
						</li>
						<li>
							<a href="#">Sans gluten</a>
						</li>
					</ul>
				</li>
				<li id="desert" class="subMenu">Dessert
					<ul id="secondTabDesert" class="secondTab">
						<li>
							<a href="#">Végétarien</a>
						</li>
						<li>
							<a href="#">Végan</a>
						</li>
						<li>
							<a href="#">Sans gluten</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">Vos recettes</a>
				</li>
			</ul>
		</nav>
        <div id="icon">
		<a href="#" id="searchButton">
			<img src="./asset/img/iconLoupe.png" alt="loupe">
		</a>

		<div id="searchBar">
			<form>
				<input type="text" placeholder="Recherche...">
				<button type="submit">Rechercher</button>
			</form>
		</div>

		<a href="#" id="iconConnect"><img src="./asset/img/iconConnectOff.png" alt="conection"></a>
        <div id="containerConnect">
			<form action="#" method="POST">
				<h2>Se connecter</h2>
				<label for="mail">Email</label>
				<input type="mail" name="mail" id="mail" placeholder="bobo@gmail.com" require>
				<label for="password">Mot de passe</label>
				<input type="text" name="password" id="password" require>
				<p>Mot de passe oublié?
					<a href="#">Clique ici!</a>
				</p>
				<p>Tu n'as pas de compte?
					<a href="#" id="subscription">Inscription</a>
				</p>
				<a href="#" id="closeConect">X</a>
			</form>
		</div>
		<div id="containerRegister">
			<form action="#" method="post">
				<h2>Inscription</h2>
				<label for="username">Pseudo</label>
				<input type="text" name="username" id="username" require>
				<label for="mail">Email</label>
				<input type="mail" name="mail" id="mail" placeholder="bobo@gmail.com" require>
				<label for="password">Mot de passe</label>
				<input type="text" name="password" id="password" require>
				<p>Tu as déjà un compte?
					<a href="#" id="connection">Connection</a>
				</p>
				<a href="#" id="closeRegister">X</a>
			</form>
		</div>
        </div>
	</div>


	<!-- menu téléphone -->
	<div id="phoneMenu">
		<a href="#" id="burger"><img src="./asset//img//icons8-hamburger-64.png" alt="menu burger"></a>
		<nav id="mainMenuPhone">
			<ul id="mainTab">
				<li id="breakfast" class="subMenu">Petit déjeuner
					<ul id="secondTabBreakfast" class="secondTab">
						<li>
							<a href="#">Sucré</a>
						</li>
						<li>
							<a href="#">Salé</a>
						</li>
						<li>
							<a href="#">Végétarien</a>
						</li>
						<li>
							<a href="#">Végan</a>
						</li>
						<li>
							<a href="#">Sans gluten</a>
						</li>
					</ul>
				</li>
				<li id="starter" class="subMenu">Entrée
					<ul id="secondTabStarter" class="secondTab">
						<li>
							<a href="#">Carnivore</a>
						</li>
						<li>
							<a href="#">Poisson</a>
						</li>
						<li>
							<a href="#">Végétarien</a>
						</li>
						<li>
							<a href="#">Végan</a>
						</li>
						<li>
							<a href="#">Sans gluten</a>
						</li>
					</ul>
				</li>
				<li id="dish" class="subMenu">Plats
					<ul id="secondTabDish" class="secondTab">
						<li>
							<a href="#">Carnivore</a>
						</li>
						<li>
							<a href="#">Poisson</a>
						</li>
						<li>
							<a href="#">Végétarien</a>
						</li>
						<li>
							<a href="#">Végan</a>
						</li>
						<li>
							<a href="#">Sans gluten</a>
						</li>
					</ul>
				</li>
				<li id="desert" class="subMenu">Dessert
					<ul id="secondTabDesert" class="secondTab">
						<li>
							<a href="#">Végétarien</a>
						</li>
						<li>
							<a href="#">Végan</a>
						</li>
						<li>
							<a href="#">Sans gluten</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">Vos recettes</a>
				</li>
			</ul>
		</nav>
		<a href="#" id="searchButtonPhone">
			<img src="./asset/img/iconLoupe.png" alt="loupe">
		</a>

		<div id="searchBarPhone">
			<form>
				<input type="text" placeholder="Recherche...">
				<button type="submit">Rechercher</button>
			</form>
		</div>
		<a href="#" id="iconConnectPhone"><img src="./asset/img/iconConnectOff.png" alt="conection"></a>

		<div id="containerConnectPhone">
			<form action="#" method="POST">
				<h2>Se connecter</h2>
				<label for="mail">Email</label>
				<input type="mail" name="mail" id="mail" placeholder="bobo@gmail.com" require>
				<label for="password">Mot de passe</label>
				<input type="text" name="password" id="password" require>
				<p>Mot de passe oublié?
					<a href="#">Clique ici!</a>
				</p>
				<p>Tu n'as pas de compte?
					<a href="#" id="subscriptionPhone">Inscription</a>
				</p>
				<a href="#" id="closeConectPhone">X</a>
			</form>
		</div>
		<div id="containerRegisterPhone">
			<form action="#" method="post">
				<h2>Inscription</h2>
				<label for="username">Pseudo</label>
				<input type="text" name="username" id="username" require>
				<label for="mail">Email</label>
				<input type="mail" name="mail" id="mail" placeholder="bobo@gmail.com" require>
				<label for="password">Mot de passe</label>
				<input type="text" name="password" id="password" require>
				<p>Tu as déjà un compte?
					<a href="#" id="connectionPhone">Connection</a>
				</p>
				<a href="#" id="closeRegisterPhone">X</a>
			</form>
		</div>

	</div>
	<article>
		<h2>Des recettes gourmandes tout
			<br>
			en gardant la ligne</h2>

	</article>
</header>
